{% extends 'base.html.twig' %}

{% block title %}inVenture News{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Hello from a {{ controller_name }}! ✅</h2>

    <p>List of news goes here...</p>
    <ul>
        <li><a href="/news/1">News 1 2022-07-28</a></li>
        <li><a href="/news/2">News 2 2022-07-28</a></li>
    </ul>
</div>
{% endblock %}
