{% extends 'base.html.twig' %}

{% block title %}Error 404 - Not found{% endblock %}

{% block body %}
    <div class="error404-wrapper">
        <h1>Error 404 - Not Found</h1>
    </div>
{% endblock %}